@charset "UTF-8";
/* CSS Document */

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.wrap {
	width: 1400px;
	height: 4510px;
	margin: 0 auto;
	position: sticky;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.container {
	width: 1120px;
	margin: 0 auto;
}

/* Nav
==========================================*/

.nav {
	position: fixed;
	width: 1400px;
	height: 71px;
	background: #000;
	display: block;
	z-index: 10;
}

.nav__block {
	display: inline-block;
}

.nav__icon {
	width: 79px;
	height: 27px;
	margin: 21px 0 0 150px;
}	

/* Nav Button
==========================================*/

.nav__button {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	opacity: 0.6;
}

.nav__button:hover {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color: #FF8C2C;
	opacity: 0.6;
}

.nav__features {
	margin: 29px 46px 0 582px;
}

.nav__about {
	margin: 29px 48px 0 0;
}

.nav__pricing {
	margin: 29px 49px 0 0;
}

.nav__reviews {
	margin: 29px 48px 0 0;
}

.nav__contact {
	margin: 29px 0 0 0;
}

/* Header
==========================================*/

.header {
	width: 100%;
	height: 712px;
	background:
		linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
		url("../font/heaher_city.jpeg") no-repeat center center;
	background-size: cover;
	z-index: 5;
}

.header__section {
	display: inline-block;
}

.header__heading {
	margin-left: 10px;
	margin-top: 180px;
	width: 175px;
	height: 60px;
	background:url("../icon/logo.png") no-repeat center center;
	background-size: cover;
	font-size: 1px;
}

.header__title {
	margin-left: 10px;
	margin-top: 33px;
	text-transform: uppercase;
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

.header__line {
	margin-left: 10px;
	margin-top: 43px;
	width: 74px;
	height: 2px;
	color: #fff;
	background-color: #fff;
}

.header__text {
	margin-left: 10px;
	margin-top: 37px;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #fff;
	opacity: 0.8;
}

.header__link {
	margin-left: 10px;
	width: 135px;
	height: 42px;
	margin-top: 44px;
	background: transparent;
	border-color: #fff;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
}

.header__link:hover {
	margin-left: 10px;
	width: 135px;
	height: 42px;
	margin-top: 44px;
	background: transparent;
	border-color: #FF8C2C;
	font-size: 15px;
	font-weight: 600;
	color: #FF8C2C;
}

/* Header Signup
==========================================*/

.header__signup {
	margin-left: 225px;
	width: 360px;
	height: 362px;
	border-radius: 5px;
	background: #fff;
	text-align: center;
	z-index: 5;
}

.signup__header {
	display: block;
	width: 360px;
	height: 54px;
	border-radius: 5px;
	background: #F5F5F5;
}

.signup__title {
	display: inline-block;
	margin: 18px 0 0 0;
	font-size: 20px;
	color: #333333;
	font-weight: 600;
}

.signup__color {
	text-transform: uppercase;
	color: #FF8C2C;
}

.section__name {
	margin: 29px auto auto auto;
	font-size: 20px;
}

.section__email {
	margin: 36px auto auto auto;
	font-size: 20px;
}

.section__password {
	margin: 47px auto 49px auto;
	font-size: 20px;
}

.section {
	width: 285px;
	height: 31px;
	outline: none;
	border: none;
	border-bottom: solid 1px #D6D6D6;
}

.signup__footer {
	display: block;
	width: 360px;
	height: 54px;
	border-radius: 5px;
	background: #FF9B51;
}

.signup__link {
	display: inline-block;
	margin: 20px auto auto auto;
	font-style: 15px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	
}

.signup__link:hover {
	display: inline-block;
	margin: 20px auto auto auto;
	font-style: 15px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	
}

/* Main Brand
==========================================*/
.main__brand {
	width: 100%;
	height: 106px;
	background: #fff;
}

.brand {
	display: inline-block;
}

.brand__title {
	margin-top: 12px;
	margin-left: 12px;
	font-size: 20px;
	color: #333333;
	font-weight: 700;
}

.brand__text {
	margin-top: 5px;
	margin-left: 12px;
	font-size: 14px;
	color: #86878B;
	font-weight: 300;
}

.brand__list {
	margin: 0 0 0 87px;
}

.brand__item {
	display: inline-block;
}

.brand__social {
	margin: 30px 40px 0 0;
	width: 46px;
	height: 46px;
}

.brand__social:hover {
	margin: 30px 40px 0 0;
	width: 46px;
	height: 46px;
	border-radius: 10%;
	background: #52ADFD;
}

/* Main Features
==========================================*/

.main__features {
	padding-top: 148px;
	background: #F5F5F5;
	padding-bottom: 114px;
}

/* Features
==========================================*/

.features {
	display: inline-block;
}

.features__link {
	display: block;
	margin-bottom: 1px;
	margin-left: 2px;
	width: 112px;
	height: 112px;
	background: #333;
	border: 0;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	border-radius: 5%;
}

.features__link:hover {
	display: block;
	margin-bottom: 1px;
	margin-left: 2px;
	width: 112px;
	height: 112px;
	background: #FF8B38;
	border: 0;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	border-radius: 5%;
}

/* Features Section
==========================================*/

.features__section {
	display: inline-block;
	width: 476px;
	margin-left: 100px;
}

.features__title {
	
	margin-bottom: 52px;
	font-size: 20px;
	color: #000;
	font-weight: 700;
}

.features__text {
	
	font-size: 14px;
	color: #86878B;
}

.features__download {
	margin-top: 51px;
	width: 121px;
	height: 46px;
	background: #FF8B38;
	border-color: #FF8B38;
	border-radius: 5%;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
}

.features__download:hover {
	margin-top: 51px;
	width: 121px;
	height: 46px;
	background: #FF8B38;
	border-color: #000;
	border-radius: 5%;
	font-size: 15px;
	font-weight: 600;
	color: #000;
}

/* Features Font
==========================================*/

.features_font {
	display: inline-block;
	margin-left: 101px;
}

.font__city {
	width: 320px;
	height: 253px;
}

.right {
	background:url("../font/image_right.png") no-repeat center center;
}

/* Main Header 
==========================================*/

.main__header {
	display: inline-block;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.title__header {
	text-transform: uppercase;
	font-size: 36px;
	color: #212121;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.line__header {
	width: 62px;
	height: 2px;
	border-color: #FF8C2C;
	margin: 30px auto 30px;
}

.text__header {
	font-style: 14px;
	color: #86878B;
}

/* Main Process
==========================================*/

.main__process{
	text-align: center;
	width: 100%;
	background: #fff;
	padding-top: 78px;
	padding-bottom: 105px;
}

/* Process Card
==========================================*/

.card {
	display: inline-block;
	width: 350px;
	height: 208px;
	margin: 50px 16px 0 16px; 
}

.icon {
	width: 68px;
	height: 68px;
	border-radius: 50px;
	border: 1px solid #FF8B39;
	margin: 0 140px 0 140px;
}	

.lamp {
	background: url("../icon/lamp.png") no-repeat center center;
}

.keyboard{
	background: url(../icon/keyboard.png) no-repeat center center;
}

.lightning{
	background: url(../icon/lightning.png) no-repeat center center;
}

.card__title {
	color: #333333;
	font-size: 20px;
	font-weight: 700;
	margin-top: 29px;
	margin-bottom: 25px;
}

.card__text {
	color: #86878B;
	font-size: 14px;
}

/* Main Pricing
==========================================*/

.main__pricing {
	display: inline-block;
	text-align: center;
	width: 100%;
	padding-top: 78px;
	padding-bottom: 45px;
	background: #F5F5F5;
}

/* Pricing Slot
==========================================*/

.slot {
	margin: 50px 20px 50px 20px;
	display: inline-block;
	width: 343px;

}

.slot__title {
	display: inline-block;
	width: 343px;
	height: 59px;
	background: url("../card_font/slot_header.png") no-repeat center center;
	
}

.title {
	margin: 21px auto auto auto;
	color: #FFFFFF;
	font-style: 20px;
	font-weight: 700;
}

.slot__price {
	display: inline-block;
	width: 343px;
	height: 100px;
	background: url("../card_font/slot_price.png") no-repeat center center;
	margin: 1px auto;
}

.price {
	margin: 12px auto auto auto;
	color: #fff;
	font-size: 80px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.price__currency {
	font-size: 35px;
	font-weight: 400;
}

.slot__package {
	display: inline-block;
	width: 343px;
	height: 51px;
	background: url("../card_font/slot_sub_text.png") no-repeat center center;
}

.package {
	margin: 17px auto auto auto;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	opacity: 0.5;
}

.slot__slot {
	width: 343px;
	height: 5px;
	background: #FF8B38;
}

.slot__popular {
	display: inline-block;
	width: 343px;
	height: 40px;
	background: #FF8B38;
}

.popular {
	text-transform: uppercase;
	margin: 13px auto auto auto;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}

.slot__characteristic {
	margin: 0 auto 1px auto;
	display: inline-block;
	width: 100%;
	height: 40px;
	background: #fff;
}

.characteristic {
	text-transform: uppercase;
	margin: 14px auto auto auto;
	color: #86878B;
	font-size: 14px;
}


/* Main Reviews
==========================================*/

.main__reviews {
	text-align: center;
	width: 100%;
	padding-top: 78px;
	padding-bottom: 45px;
	background: #fff;
}

/* Reviews Testimonial
==========================================*/

.testimonial {
	margin: 55px 60px 55px 60px;
	display: inline-block;
	width: 273px;
	height: 225px;
}

.testimonials {
	width: 273px;
	height: 147px;
}

.font {
	display: inline-block;
	background: url("../font/testimonial.png") no-repeat center center;
}

.testimonial__text {
	margin: 24px 12px auto 12px;
	text-align: left;
	font-size: 14px;
	color: #86878B;
	font-family: 'Open Sans', sans-serif;
}

.testimonial__user {
 	text-align: left;
	margin: 8px auto auto 2px;
}

.user {
	display: inline-block;
	width: 70px;
	height: 70px;
}

.photo {
	display: inline-block;
	background: url("../icon/avatar.png")  no-repeat center center;
}

.user__client {
	display: inline-block;
	margin-top: 24px;
	margin-left: 15px;
}

.user__name {
	font-size: 20px;
	color: #333333;
	font-weight: 700;
}

.user__job {
	font-size: 14px;
	color: #86878B;
}

/* Main Custom
==========================================*/

.main__custom {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 322px;
	background:
		linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
		url("../font/city.jpeg") no-repeat center center;
	background-size: cover;
}

.custom__title {
	margin: 74px auto auto auto;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	font-size: 36px;
}

.custom__line {
	width: 62px;
	height: 2px;
	border-color: #FFFFFF;
	margin: 30px auto 0 auto;
}

.custom__text {
	margin: 30px auto 0 auto;
	opacity: 0.8;
	font-style: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}

.custom__link{
	width: 135px;
	height: 42px;
	margin: 33px auto auto auto;
	background: transparent;
	border-color: #FFF;
	font-size: 15px;
	font-weight: 600;
	color: #FFF;
}

.custom__link:hover {
	width: 135px;
	height: 42px;
	margin: 33px auto auto auto;
	background: transparent;
	border-color: #FF8B38;
	font-size: 15px;
	font-weight: 600;
	color: #FF8B38;
}

/* Main Contact
==========================================*/

.main__contact {
	text-align: center;
	background: #fff;
	width: 100%;
	padding-top: 78px;
	padding-bottom: 45px;
}

.contact__contacts {
	display: inline-block;
	margin-bottom: 43px;
}

.contacts__name {
	margin: 50px auto auto 141px;
}

.contacts__email {
	margin: 30px auto auto 141px;
}

.contacts__subject {
	margin: 30px auto auto 141px;
}

.contacts {
	width: 527px;
	height: 31px;
	outline: none;
	border: none;
	border-bottom: solid 1px #D6D6D6;
}

.contacts__contact {
	display: inline-block;
	margin-left:67px;
	width: 527px;
	height: 135px;
	outline: none;
	border: none;
	border-bottom: solid 1px #D6D6D6;
}

.contact__button {
	margin: 0 auto 35px auto;
	display: block;
	width: 135px;
	height: 42px;
	background: #FF8B38;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
}
.contact__button:hover {
	margin: 0 auto 35px auto;
	display: block;
	width: 135px;
	height: 42px;
	background: #FF8B38;
	border-color: #000;
	font-size: 15px;
	font-weight: 600;
	color: #000;
}
/* Footer
==========================================*/

.footer {
	text-align: center;
	width: 100%;
	height: 101px;
	background: #000;
	z-index: 5;
}

.footer__item {
	display: inline-block;
}

.footer__social {
	margin: 39px 5px 0 5px;
	width:  23px;
}

.footer__social:hover {
	margin: 39px 5px 0 5px;
	width:  23px;
	border-radius: 10%;
	background: #333;
}

.footer__text {
	margin: 15px 0 0 0;
	font-size: 12px;
	color: #fff;
	opacity: 0.5;
}
