@charset "UTF-8";
/* CSS Document */

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrap {
	width: 1400px;
	height: 4510px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* Header
==========================================*/

.header {
	width: 100%;
	height: 712px;
	background:
		linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
		url("../font/heaher_city.jpeg") no-repeat center center;
	background-size: cover;
}

.header__section {
	display: inline-block;
}

.header__heading {
	margin: 109px 0 0 150px;
	width: 175px;
	height: 60px;
	 background:url("../icon/logo.png") no-repeat center center;
	background-size: cover;
	font-size: 1px;
}

.header__title {
	margin: 33px 0 0 150px;
	text-transform: uppercase;
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
}

.header__line {
	margin: 43px 0 0 150px;
	width: 74px;
	height: 2px;
	color: #FFFFFF;
	background-color: #fff;
}

.header__text {
	margin: 37px 0 0 150px;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	opacity: 0.8;
}

.header__link {
	width: 135px;
	height: 42px;
	margin: 44px 0 0 150px;
	background: transparent;
	border-color: #FFF;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFF;
}

/* Header Signup
==========================================*/

.header__signup {
	margin: 139px 0 0 229px;
	width: 360px;
	height: 362px;
	border-radius: 5px;
	background: #FFFFFF;
	text-align: center;
}

.signup__header {
	display: block;
	width: 360px;
	height: 54px;
	border-radius: 5px;
	background: #F5F5F5;
}

.signup__title {
	display: inline-block;
	margin: 18px 0 0 0;
}

.section__name {
	margin: 29px auto auto auto;
}

.section__email {
	margin: 36px auto auto auto;
}

.section__password {
	margin: 47px auto 49px auto;
}

.section {
	width: 285px;
	height: 31px;
	outline: none;
	border: none;
	border-bottom: solid 1px #D6D6D6;
}

.signup__footer {
	display: block;
	width: 360px;
	height: 54px;
	border-radius: 5px;
	background: #FF9B51;
}

.signup__link {
	display: inline-block;
	margin: 20px auto auto auto;
	font-style: 15px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	
}

/* Header Nav
==========================================*/

.header__nav {
	width: 100%;
	height: 71px;
	background: #000;
	display: block;
}

.nav {
	display: inline-block;
}

.nav__icon {
	width: 79px;
	height: 27px;
	margin: 21px 0 0 150px;
}	

.nav__features {
	display: inline-block;
	margin: 29px 46px 0 582px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	opacity: 0.6;
}

.nav__about {
	margin: 29px 48px 0 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	opacity: 0.6;
}

.nav__pricing {
	margin: 29px 49px 0 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	opacity: 0.6;
}

.nav__reviews {
	margin: 29px 48px 0 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	opacity: 0.6;
}

.nav__contact {
	margin: 29px 0 0 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	opacity: 0.6;
}

/* Main Brand
==========================================*/
.main__brand {
	width: 100%;
	height: 106px;
	background: #fff;
}

.brand {
	display: inline-block;
}

.brand__title {
	margin: 21px 0 0 152px;
	font-size: 20px;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.brand__text {
	margin: 12px 0 0 152px;
	font-size: 14px;
	color: #86878B;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.brand__list {
	margin: 0 0 0 87px;
}
.brand__item {
	display: inline-block;
}

.brand__social {
	margin: 30px 55px 0 0;
	width: 46px;
	height: 46px;
}

/* Main Features
==========================================*/

.main__features {
	width: 100%;
	height: 596px;
	background: #F5F5F5;
}

/* Main Process
==========================================*/

.main__process{
	text-align: center;
	width: 100%;
	height: 593px;
	background: #fff;
}
.process__title {
	text-transform: uppercase;
	margin:  108px auto 0 auto;
	font-size: 36px;
	color: #212121;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.process__line {
	width: 62px;
	height: 2px;
	border-color: #FF8C2C;
	margin: 30px auto 0 auto;
}

.process__text {
	margin: 30px auto 0 auto;
	font-style: 14px;
	color: #86878B;
	font-family: 'Open Sans', sans-serif;
	
}

/* Process Card
==========================================*/

.card {
	display: inline-block;
	width: 350px;
	height: 197px;
	margin: 80px 16px 0 16px;
}

.icon {
	width: 68px;
	height: 68px;
	border-radius: 50px;
	border: 1px solid #FF8B39;
	margin: 0 140px 29px 140px;
}	

.lamp {
	background: url("../icon/lamp.png") no-repeat center center;
}

.keyboard{
	background: url(../icon/keyboard.png) no-repeat center center;
}

.lightning{
	background: url(../icon/lightning.png) no-repeat center center;
}

.card__title {
	color: #333333;
	font-style: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.card__text {
	margin: 25px auto;
	color: #86878B;
	font-style: 14px;
	font-family: 'Open Sans', sans-serif;
}

/* Main Pricing
==========================================*/

.main__pricing {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 884px;
	background: #F5F5F5;
}

.pricing__title {
	text-transform: uppercase;
	margin:  108px auto 0 auto;
	font-size: 36px;
	color: #212121;
	font-family: 'Raleway', sans-serif;
}

.pricing__line {
	width: 62px;
	height: 2px;
	border-color: #FF8C2C;
	margin: 30px auto 0 auto;
}

.pricing__text {
	margin: 30px auto 0 auto;
	font-style: 14px;
	color: #86878B;
	font-family: 'Open Sans', sans-serif;
}

/* Pricing Slot
==========================================*/

.slot {
	margin: 80px 20px auto 20px;
	display: inline-block;
	width: 343px;

}

.slot__title {
	display: inline-block;
	width: 343px;
	height: 59px;
	background: url("../card_font/slot_header.png") no-repeat center center;
	
}

.title {
	margin: 21px auto auto auto;
	color: #FFFFFF;
	font-style: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.slot__price {
	display: inline-block;
	width: 343px;
	height: 100px;
	background: url("../card_font/slot_price.png") no-repeat center center;
	margin: 1px auto;
}

.price {
	margin: 31px auto auto auto;
	color: #fff;
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.slot__package {
	display: inline-block;
	width: 343px;
	height: 51px;
	background: url("../card_font/slot_sub_text.png") no-repeat center center;
}

.package {
	margin: 17px auto auto auto;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 1,600;
}

.slot__slot {
	width: 343px;
	height: 5px;
	background: #FF8B38;
}

.slot__popular {
	display: inline-block;
	width: 343px;
	height: 40px;
	background: #FF8B38;
}

.popular {
	text-transform: uppercase;
	margin: 13px auto auto auto;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.slot__characteristic {
	margin: 0 auto 1px auto;
	display: inline-block;
	width: 100%;
	height: 40px;
	background: #FFFFFF;
}

.characteristic {
	text-transform: uppercase;
	margin: 14px auto auto auto;
	color: #86878B;
	font-style: 14px;
	font-family: 'Open Sans', sans-serif;
}

/* Main Reviews
==========================================*/

.main__reviews {
	text-align: center;
	width: 100%;
	height: 592px;
	background: #FFFFFF;
}

.reviews__title {
	text-transform: uppercase;
	margin:  108px auto 0 auto;
	font-size: 36px;
	color: #212121;
	font-family: 'Raleway', sans-serif;
}

.reviews__line {
	width: 62px;
	height: 2px;
	border-color: #FF8C2C;
	margin: 30px auto 0 auto;
}

.reviews__text {
	margin: 30px auto 0 auto;
	font-style: 14px;
	color: #86878B;
	font-family: 'Open Sans', sans-serif;
}

/* Reviews Testimonial
==========================================*/

.testimonial {
	margin: 55px 60px auto 60px;
	
	display: inline-block;
	width: 273px;
	height: 225px;
}

.testimonials {
	width: 273px;
	height: 147px;
}

.font {
	display: inline-block;
	background: url("../font/testimonial.png") no-repeat center center;
		
}

.testimonial__user {
 	text-align: left;
	margin: 8px auto auto 2px;
}

.testimonial__text {
	margin: 24px 12px auto 12px;
	text-align: left;
	font-style: 14px;
	color: #86878B;
	font-family: 'Open Sans', sans-serif;
	
}

.user__client {
	display: inline-block;
	margin: 24px auto auto 15px;
}

.user__name {
	font-style: 20px;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.user__job {
	font-style: 14px;
	color: #86878B;
	font-family: 'Open Sans', sans-serif;
}

.user {
	display: inline-block;
	width: 70px;
	height: 70px;
}

.photo {
	display: inline-block;
	margin: 2px auto 15px;
	background: url("../icon/avatar.png")  no-repeat center center;
}

/* Main Custom
==========================================*/

.main__custom {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 322px;
	background:
		linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
		url("../font/city.jpeg") no-repeat center center;
	background-size: cover;
}

.custom__title {
	margin: 74px auto auto auto;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	font-size: 36px;
}

.custom__line {
	width: 62px;
	height: 2px;
	border-color: #FFFFFF;
	margin: 30px auto 0 auto;
}

.custom__text {
	margin: 30px auto 0 auto;
	opacity: 0.8;
	font-style: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}

.custom__link{
	width: 135px;
	height: 42px;
	margin: 33px auto auto auto;
	background: transparent;
	border-color: #FFF;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFF;
}

/* Main Contact
==========================================*/

.main__contact {
	background: #FFFFFF;
	width: 100%;
	height: 613px;
}

.contact__header {
	text-align: center;
}

.contact__title {
	text-transform: uppercase;
	margin:  108px auto 0 auto;
	font-size: 36px;
	color: #212121;
	font-family: 'Raleway', sans-serif;
}

.contact__line {
	width: 62px;
	height: 2px;
	border-color: #FF8C2C;
	margin: 30px auto 0 auto;
}

.contact__text {
	margin: 30px auto 0 auto;
	font-style: 14px;
	color: #86878B;
	font-family: 'Open Sans', sans-serif;
}

.contact__contacts {
	display: inline-block;
}

.contacts__name {
	margin: 80px auto auto 141px;
}

.contacts__email {
	margin: 30px auto auto 141px;
}

.contacts__subject {
	margin: 30px auto auto 141px;
}

.contacts {
	width: 527px;
	height: 31px;
	outline: none;
	border: none;
	border-bottom: solid 1px #D6D6D6;
}

.contacts__contact {
	display: inline-block;
	margin: 80px auto auto 80px;
	width: 527px;
	height: 31px;
	outline: none;
	border: none;
	border-bottom: solid 1px #D6D6D6;
}
/* Footer
==========================================*/

.footer {
	text-align: center;
	width: 100%;
	height: 101px;
	background: #000;
}

.footer__item {
	display: inline-block;
}

.footer__social {
	margin: 39px 5px 0 5px;
	width:  23px;
}

.footer__text {
	margin: 15px 0 0 0;
	font-size: 12px;
	color: #FFFFFF;
	opacity: 0.5;
}